.high-contrast .speechRecognizerButton {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #ffffff;
}

.speechRecognizerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

.speechRecognizerButton {
  background-color: #246c9c; /* Adjust color according to your design preference */
  color: white; /* Adjust color according to your design preference */
  padding: 10px 20px; /* Adjust padding according to your design preference */
  border: none;
  border-radius: 50px; /* Adjust border-radius according to your design preference */
  cursor: pointer;
  font-size: 1rem; /* Adjust font-size according to your design preference */
  outline: none;
  transition: background-color 0.3s ease;

  width: 4rem;
  height: 4rem;
}

.speechRecognizerButton:hover {
  background-color: #00796b; /* Adjust hover color according to your design preference */
}

.speechRecognizerButton:active {
  background-color: #004d40; /* Adjust active color according to your design preference */
}

.speechRecognizerButton:focus {
  outline: 2px solid #00574b; /* Adjust color according to your design preference */
  box-shadow: 0 0 10px #00574b; /* Adjust color according to your design preference */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
