/* Estilização do container das mensagens */
.chatDisplayContainer {
    overflow-y: scroll;
    max-height: 200px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  }
  
  /* Estilização das mensagens */
  .chatMessage {
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
  }
  
  /* Se houver necessidade de diferenciar as mensagens do usuário e da IA */
  .userMessage {
    background-color: #d1e7fd; /* Um azul suave para as mensagens do usuário */
  }
  
  .iaMessage {
    background-color: #e6e6e6; /* Um cinza suave para as mensagens da IA */
  }
  