.chatDisplayContainer {
  overflow-y: auto;
  padding: 10px;
  max-height: 700px;
  width: 400px; /* Adjust as per your design preference */
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chatMessage {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.userMessage {
  align-items: flex-end;
  text-align: right;
}

.iaMessage {
  align-items: flex-start;
  text-align: left;
}

.timestamp {
  font-size: 0.8rem;
  color: #888888;
}
