.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #453de3;
  min-height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.appTitle {
  text-align: center;
  margin-bottom: 20px; /* Ajustado conforme necessário */
  font-size: 2rem;
  color: #333; /* Ajustado conforme necessário */
  margin: 0; /* Remove margem padrão do h1 */
}

.userMessage, .iaMessage {
  background-color: #e6e6e6;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  max-width: 80%;
}

.userMessage {
  align-self: flex-end;
  background-color: #009688;
  color: white;
}

.iaMessage {
  align-self: flex-start;
}

.timestamp {
  display: block;
  font-size: 0.8rem;
  margin-top: 5px;
  color: #555;
}
