.toggle-container {
  position: fixed; /* Fixa a posição do contêiner */
  top: 0%;
  right: 0%;
  display: flex;
  padding: 0px;
  background-color: #ff0000;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Default styling */
body {
  background-color: #ffffff;
  /* color: rgb(255, 255, 0); */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button {
  background-color: #d4f6fb;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* High contrast styling */
body.high-contrast {
  background-color: #000000;
  color: #ffffff;
}

body.high-contrast button {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #ffffff;
}

.contrastButton {
  background-color: transparent; /* fundo transparente */
  border: 1px solid #ff0000; /* bordas vermelhas */
  color: #000000; /* ícone em preto */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
